<p>
  Totale uitgaven tot op heden: <strong><%= humanized_money_with_symbol @total %></strong>
</p>

<div data-controller="stats" data-target="chart">
  <%= pie_chart @pie_chart_data, id: 'my-chart' %>
</div>

<% if @amountProcessing > 0 %>
  <p>Op dit moment verwerken we nog:
    <strong>
      <% if @amountProcessing > 1 %>
        <%= @amountProcessing %> bonnen
      <% else %>
        1 bon
      <% end %>
    </strong>
  </p>
<% end %>

<p class="text-center" style="margin-top: 1em;">
  <%= link_to 'Bekijk al je bonnen', receipts_path, class: 'btn btn-primary' %>
</p>