<h3>Dankje!</h3>

<p>Op dit moment verwerken we voor je: </p>

<% if @amountProcessing > 1 %>
  <h4><span id="receipts-amount-processing"><%= @amountProcessing %></span> bonnen</h4>
<% else %>
  <h4><span id="receipts-amount-processing">1</span> bon</h4>
<% end %>

<div class="row">
  <% @receipts.each do |receipt| %>
    <div class="col-xs-3">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            <%= link_to receipt_path(receipt) do %>
              <% receipt.images.each do |image| %>
                <%= image_tag(image.variant(resize: "200x100"))%>
              <% end %>
            <% end %>
          <h5 class="card-title"><%= l receipt.created_at, format: :short%></h5>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<p>Terwijl wij bezig zijn kan je gewoon bonnen toe blijven voegen!</p>