
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nieuwe bon geupload door gebruker</h1>
    <p>
      Er staat een nieuwe bon klaar.
    </p>
  </body>
</html>