
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nieuwe registratie</h1>
    <p>
      Een niewe gebruiker heeft zich aangemeld!
    </p>
  </body>
</html>